---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: false
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">
  
  <!----
  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.blog_name }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>
  -->
  <div class="header-bar">
    <!---
    <h2>{{site.info_portal}}</h2>
    -->
    &nbsp;


    <img class="img-fluid z-depth-1 rounded" src="assets\img\Earth from Mars.jpg">
    
    
    <article>
      {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'center' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
        {% endif %}
        {% if page.profile.address %}
          <div class="address">
            {{ page.profile.address }}
          </div>
        {% endif %}
      </div>
      {% endif %}
      
      <div class="clearfix">
        {{ content }}
      </div>
    <!---
    <h1>{{ site.blog_name }}</h1>
    <h1>{{ site.article_description}}</h1>
    -->
  </div>

    <!---->
    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

 <!----
  <div class="header-bar">
    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
          <p>{{ post.description }}</p>
        </li>
      {% endfor %}
    </ul>
    {% include pagination.html %}
  </div> 
  --->
</div>
