<!DOCTYPE html>
<html>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Montserrat:wght@200;300&family=Noto+Sans+JP:wght@100&family=Quicksand:wght@300&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    
    {% include header.html %}
    
    <!-- Content -->

    <!-- Footer -->

    {% include footer.html %}

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
